<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Все записи</title>


    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/styleForum.css" type="text/css">

    <!-- icon -->
    <link rel="stylesheet" href="fonts/icons/main/mainfont/style.css">
    <link rel="stylesheet" href="fonts/icons/font-awesome/css/font-awesome.min.css">

    <!-- Vendor -->
    <link rel="stylesheet" href="vendor/bootstrap/v3/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/v4/bootstrap-grid.css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="fa fa-close"></i>
    </div>
    <div class="canvas-search search-switch">
        <i class="fa fa-search"></i>
    </div>
    <nav class="canvas-menu mobile-menu">
        <ul>
            <li><a href="/">На главную</a></li>
            <li><a href="/about-us">О нас</a></li>
            <li><a href="#">Разное</a>
                <ul class="dropdown">
                    <li><a href="bmi-calculator.html">Bmi calculate</a></li>
                    <li><a href="team.html">Our team</a></li>
                    <li><a href="blog.html">Our blog</a></li>
                    <li><a href="404.html">404</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="canvas-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube-play"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
</div>
<!-- Offcanvas Menu Section End -->

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"style="margin-top: -3%;">
                <div class="logo">
                    <a href="/greeting">
                        <img src="img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="nav-menu">
                    <ul>
                        <li><a href="/">На главную</a></li>
                        <li><a href="/about-us">О нас</a></li>
                        <li><a href="#">Разное</a>
                            <ul class="dropdown">
                                <li><a href="bmi-calculator.html">Bmi calculate</a></li>
                                <li><a href="blog.html">Our blog</a></li>
                                <li><a href="404.html">404</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="top-option">
                    <div class="to-search search-switch">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="to-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas-open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/hero/cyber.jpeg">
    <div class="container">
        <div class="row">
            <main  style="margin-top: -8%;">
                <div style="color: #f36100;" class="container">
                    <div class="create">
                        <div class="create__head">
                            <div class="create__title"><img src="fonts/icons/main/New_Topic.svg" alt="New topic">Create
                                New Thread
                            </div>
                            <span>Forum Guidelines</span>
                        </div>
                        <div class="create__section">
                            <label class="create__label" for="title">Thread Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Add here">
                        </div>
                    </div>
                    <div class="create_section create_textarea">
                        <label class="create__label" for="description">Description</label>
                        <div class="create__textarea-head">
                            <span><i class="icon-Quote"></i></span>
                            <span><i class="icon-Bold"></i></span>
                            <span><i class="icon-Italic"></i></span>
                            <div class="create__textarea-separate"></div>
                            <span><i class="icon-Share_Topic"></i></span>
                            <span><i class="icon-BlockQuote"></i></span>
                            <span><i class="icon-Performatted"></i></span>
                            <span><i class="icon-Upload_Files"></i></span>
                            <span class="create__textarea-separate"></span>
                            <span><i class="icon-Bullet_List"></i></span>
                            <span><i class="icon-heading"></i></span>
                            <span><i class="icon-Horizontal_Line"></i></span>
                            <span><i class="icon-Emoticon"></i></span>
                            <span><i class="icon-Settings"></i></span>
                            <span><i class="icon-Color_Picker"></i></span>
                            <div class="create__textarea-btn">
                                <a href="#" class="btn">Preview</a>
                            </div>
                        </div>
                        <textarea class="form-control" id="description">Adding amazing books to your summer reading list can be as simple as signing up for the BuzzFeed Books newsletter! You'll get a review of a new book you might love every Wednesday, plus much more twice a week: great jokes and quizzes, wonderful lists, powerful essays, all the Harry Potter and YA buzz you can handle, and of course, even more book recommendations. So make some space in your beach bag now — because you're going to have a lot to read this summer.</textarea>
                    </div>
                    <div class="create__section">
                        <label class="create__label" for="tags">Add Tags</label>
                        <input type="text" class="form-control" id="tags" placeholder="e.g. nature, science">
                    </div>
                    <div class="create__advanced">
                        <div class="row">
                            <div class="col-lg-4 col-xl-4">
                                <div class="create__section">
                                    <label class="create__label">Who can see this?</label>
                                    <div class="create__radio">
                                        <label class="create__box">
                                            <label class="custom-radio">
                                                <input type="radio" name="can-see" checked="checked">
                                                <i></i>
                                            </label>
                                            <span>Everyone</span>
                                        </label>
                                        <label class="create__box">
                                            <label class="custom-radio">
                                                <input type="radio" name="can-see">
                                                <i></i>
                                            </label>
                                            <span>Only Friends</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-3">
                                <div class="create__section">
                                    <label class="create__label">Share on Social?</label>
                                    <div class="create__radio">
                                        <label class="create__box">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" name="share-social" checked="checked">
                                                <i></i>
                                            </label>
                                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                        </label>
                                        <label class="create__box">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" name="share-social" checked="checked">
                                                <i></i>
                                            </label>
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </label>
                                        <label class="create__box">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" name="share-social">
                                                <i></i>
                                            </label>
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-5">
                                <div class="create__section">
                                    <label class="create__label">Is this a Mature Thread?</label>
                                    <div class="create__radio">
                                        <label class="create__box">
                                            <label class="custom-radio">
                                                <input type="radio" name="mature-thread">
                                                <i></i>
                                            </label>
                                            <span>Yes</span>
                                        </label>
                                        <label class="create__box">
                                            <label class="custom-radio">
                                                <input type="radio" name="mature-thread" checked="checked">
                                                <i></i>
                                            </label>
                                            <span>No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="create__footer">
                        <a href="#" class="create__btn-cansel btn">Cancel</a>
                        <a href="#" class="create__btn-create btn btn--type-02">Create Thread</a>
                    </div>
                </div>


            </main>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->





<!-- Footer Section Begin -->
<section class="footer-section">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="copyright-text">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <script>document.write(new Date().getFullYear());</script>
                        Сайт выполнен с <i class="fa fa-heart" aria-hidden="true"></i>
                        <a href="https://www.linkedin.com/in/%D0%B0%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80-%D0%BA%D0%BE%D0%BB%D0%B5%D1%81%D0%BD%D0%B8%D0%BA-83786220b/"
                           target="_blank">Александром Колесником</a> &
                        <a href="https://www.linkedin.com/in/%D1%81%D0%B5%D1%80%D0%B3%D0%B5%D0%B9-%D0%BA%D0%BE%D0%BB%D1%8C%D1%86%D0%BE%D0%B2-82286420b/"
                           target="_blank">Сергеем Кольцовым</a> & <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery.barfiller.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<!-- JS On
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script> -->

<!-- JAVA SCRIPT -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/velocity/velocity.min.js"></script>
<script src="js/app.js"></script>


</body>

</html>